.container {
  align-items: center;
  width: 50%;
  width: 550px;
  margin: 50px auto;
  height: 400px;
 
  padding: 50px;
  text-align: center;
  background-color: #ffffff;
}

  .circle-image {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    
  }

  .text {
    margin-top: 10px;
  }

  .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #e0e0e0; /* Warna latar belakang tombol */
    color: #000000; /* Warna teks tombol */
    border: none;
    cursor: pointer;
  }