.container {
    align-items: center;
    width: 50%;
    width: 500px;
    margin: 80px auto;
    height: 330px;
    border: 1px solid;
    padding: 20px;
    text-align: center;
    background-color: #e0e0e0;
  }

  .circle-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    
  }

  .text {
    margin-top: 10px;
  }

  .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #e0e0e0; /* Warna latar belakang tombol */
    color: #000; /* Warna teks tombol */
    border: none;
    cursor: pointer;
  }